html {
    margin: 0px;
}

#bg-image {
    background-image: url("../placeholder-images/skiing.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 100vh;
}

#activity-list {

    background: #074955;

    margin: 30px;

    width: 1000px;

    position: relative;

    height: calc(100vh - 60px);

    overflow: hidden;

    padding: 10px;

}

.flex-container {
    display: flex;

    justify-content: flex-end;

    position: relative;

    z-index: 100000000000;


}

.list-item {
    background: #ffffff;

    margin: 10px;

    height: 100px;
}

.top-buffer {
    background: #339955;

    position: absolute;

    top: 0;

    width: 100%;

    height: 10px;
}

.bottom-buffer {
    background: #339955;

    position: absolute;

    bottom: 0;

    width: 100%;

    height: 10px;
}

#scroll-list {

    overflow-y: scroll;

    overflow-x: hidden;

    position: absolute;

    right: 0px;
}

.navbar {
    background-color: #053F48;
    height: 55px;
    color: white;
    text-align: right;
}

.page-footer {
    background-color: #053F48;
    padding-top: 1%;
    font-size: 12px;
    color: white;
}

.nav-link {
    text-align: right;
}

.navbar-light .navbar-nav .nav-link {
    color: #f8f9fa;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #f8f9fa;
}

h6 {
    line-height: 12px;
}

.navbar-light .navbar-brand {
    color: #f8f9fa;
}

.g-signin2 {
    margin-top: 2px;
    position: relative;
    top: 0px;
    left: 933px;
}

.abcRioButtonIcon {
padding: 15px 8px 8px 8px;
}

.abcRioButtonContents {
    position: relative;
    left: -5px;
    top: 1px;
    background-color: #f8f9fa;
    color: #053F48
}
