body {
    background-image: url("../placeholder-images/mountains.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-size: cover;
}


::placeholder {
    color: black;
}


#hiking {
    border-radius: 49% 51% 49% 51% / 51% 50% 50% 49%;
    border: solid 2px black;
    margin: 162px 136px 49px 50px;
    height: 248px;
    background-image: url("https://media.giphy.com/media/13ztMEh3iEJ5vQwBmQ/giphy.gif");
    background-size: cover;
    width: 400px;
    position: absolute;
    right: 855px;
    z-index: -150;
    
    

}

#skiing {
    border-radius: 49% 51% 49% 51% / 51% 50% 50% 49%;
    border: solid 2px black;
    height: 248px;
    margin: 67px 50px 50px 50px;
    background-image: url("https://media.giphy.com/media/3DoSrh30qnmyBItTvi/giphy.gif");
    background-size: cover;
    width: 400px;
    position: absolute;
    right: 455px;
    top: 10px;
    z-index: -160;
}

#mountainBike {
    border-radius: 49% 51% 49% 51% / 51% 50% 50% 49%;
    border: solid 2px black;
    margin: 176px -124px 50px 175px;
    height: 248px;
    background-image: url("https://media.giphy.com/media/1fiH76yldy1J9S25SZ/giphy.gif");
    background-size: cover;
    width: 400px;
    position: absolute;
    right: 151px;
}

#surfing {
    border-radius: 49% 51% 49% 51% / 51% 50% 50% 49%;
    border: solid 2px black;
    margin: 120px -226px 33px 34px;
    height: 248px;
    background-image: url("https://media.giphy.com/media/Sp7ip1Nww0s3m/giphy.gif");
    background-size: cover;
    width: 400px;
    position: absolute;
    top: 438px;
    right: 245px;
}

#skydiving {
    border-radius: 49% 51% 49% 51% / 51% 50% 50% 49%;
    border: solid 2px black;
    margin: 157px 33px 50px -131px;
    height: 248px;
    background-image: url("https://media.giphy.com/media/dDZZ5yzhJDJBu/giphy.gif");
    background-size: cover;
    width: 400px;
    position: absolute;
    top: 401px;
    left: 141px;
    z-index: 100;
}

#empty {
    height: 80px;
}

.btn,
.btn-large,
.btn-small {
    text-decoration: none;
    color: #f8f9fa;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
    position: absolute;
    left: 622px;
    top: 363px;
    z-index: 1000;
}

/* .col-4 {
    height: 200px;
    border: solid 2px black;
} */

.navbar {
    background-color: #053F48;
    height: 55px;
   
}

.activities-holder {
    display: block;
    height: 100vh;
}

.navbar-light .navbar-nav .nav-link {
    color: #f8f9fa;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #f8f9fa;
}

.navbar-light .navbar-brand {
    color: #f8f9fa;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #f8f9fa !important;
}

.page-footer {
    background-color: #053F48;
    padding-top: 1%;
    font-size: 15px;
    color: white;
    margin-top: 200px;
    /* height: 150px; */
}

.container-footer {
    height: 180px;
}

#dropdown1 {
    height: 200px;
}

.g-signin2 {
    margin-top: 22px;
    position: relative;
    top: 0px;
    left: 950px;
}

.abcRioButtonIcon {
padding: 15px 8px 8px 8px;
}

.abcRioButtonLightBlue {
    background-color: #f8f9fa;
    color: #053F48
}

.abcRioButton {
    background-color: #f8f9fa;
    color: #053F48
}

.abcRioButtonContents {
    position: relative;
    top: -15px;    
    left: -5px;
}
@media screen and (max-width: 600px){
    body{
        background-image:  url("../placeholder-images/mountains.jpg");
        
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
background-size: cover;
    }
    
    #hiking{
       display: none;
    }
    #skiing{
        display: none;
    }
    #mountainBike{
        display: none;
    }
    #surfing{
        display: none;
    }
    #skydiving{
        display: none;
    }
    .btn,
.btn-large,
.btn-small{
    position: static;
}
}


@media screen and (max-width: 768px){
    body{
        background-image:  url("../placeholder-images/mountains.jpg");
        
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
background-size: cover;
    }
    
   #hiking{
       display: none;
    }
    #skiing{
        display: none;
    }
    #mountainBike{
        display: none;
    }
    #surfing{
        display: none;
    }
    #skydiving{
        display: none;
    }
    .btn,
.btn-large,
.btn-small{
    position: static;
}
}

@media screen and (max-width: 992px){
    body{
        background-image:  url("../placeholder-images/mountains.jpg");
        
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
background-size: cover;
    }
    
    #hiking{
       display: none;
    }
    #skiing{
        display: none;
    }
    #mountainBike{
        display: none;
    }
    #surfing{
        display: none;
    }
    #skydiving{
        display: none;
    }
    .btn,
.btn-large,
.btn-small{
    position: static;
}
}

@media screen and (max-width: 1200px){
    body{
        background-image:  url("../placeholder-images/mountains.jpg");
        
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
background-size: cover;
    }
    
   #hiking{
       display: none;
    }
    #skiing{
        display: none;
    }
    #mountainBike{
        display: none;
    }
    #surfing{
        display: none;
    }
    #skydiving{
        display: none;
    }
    .btn,
.btn-large,
.btn-small{
    position: static;
}
}

img {
    vertical-align: middle;
    border-style: none;
    height: 20px;
    width: 20px;
}

#bottomRow {
    margin-left: 66px;
}

#teamMembers {
    align-content: center;
}

#teamMembers {
    margin-left: 58px;
}

#member {
    color: white;
}
