body {
    background-color: #FEFAEC;
}

.searchBar {
    background-color: #625772;
    margin-top: 23%;
    margin-left: 21%;
}

::placeholder{
    color: white;
}

.col-4 {
    height: 350px;
}

#hiking {
    border-radius: 49% 51% 49% 51% / 51% 50% 50% 49%;
    border: solid 2px black;
}

#skiing {
    border-radius: 49% 51% 49% 51% / 51% 50% 50% 49%;
    border: solid 2px black;
}

#mountainBike {
    border-radius: 49% 51% 49% 51% / 51% 50% 50% 49%;
    border: solid 2px black;
}

#surfing {
    border-radius: 49% 51% 49% 51% / 51% 50% 50% 49%;
    border: solid 2px black;
}

#skydiving {
    border-radius: 49% 51% 49% 51% / 51% 50% 50% 49%;
    border: solid 2px black;
}